{
  "bracketSpacing": true,
  "printWidth": 160,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "endOfLine": "lf"
}